<nav class="navbar-expand-lg navbar-enhanced">
    <div class="container-fluid navbar-container">
        <a class="navbar-brand navbar-brand-enhanced" href="#">
            <img src="assets/logo.svg" alt="Logo" class="navbar-logo">
            <span class="brand-title">Spengermed</span>
        </a>
        <div class="navbar-info">
            Choose Resource:
        </div>
        <select class="custom-select custom-dropdown" [(ngModel)]="selectedRoute"
            (change)="onRouteChange(selectedRoute)">
            <option selected disabled>Choose...</option>
            <option *ngFor="let routeOption of routeOptions" [value]="routeOption.path">
                {{ routeOption.displayName }}
            </option>
        </select>


    </div>
</nav>